<div class="form">
  <!--<button  class="button_az" disabled>-->
  <!--<img src="../assets/img/10.png" alt="">-->
  <!--</button>-->
  <!--<button class="button_az">-->
  <!--<img src="../assets/img/11.png" alt="">-->
  <!--</button>-->
  <!--<button class="button_az" disabled>-->
  <!--<img src="../assets/img/12.png" alt="">-->
  <!--</button>-->
  <div  class="table">
    <div *ngIf="Appearance" class="block">
      <div class="left">
        <input type="button" class="button-grey" [value]="button_1 ? '&#8744;' : '&gt;'" (click)="button_1 = !button_1">
        <strong class="font">Appearance</strong><br>
        <div *ngIf="button_1">
          <p>Show Data Window</p>
          <p>Show Volume Chart</p>
          <p>Show Background Symbol</p>
          <p>Show Premarket Data</p>
        </div>
      </div>
      <div class="right">
        <div *ngIf="button_1" class="Div_4">
          <label>
            <select name="select">
              <option>
                True
              </option>
              <option>
               False
              </option>
            </select>
          </label>
          <label>
            <select name="select">
              <option>
                True
              </option>
              <option>
                False
              </option>
            </select>
          </label>
          <label>
            <select name="select">
              <option>
                True
              </option>
              <option>
                False
              </option>
            </select>
          </label>
          <label>
            <select name="select">
              <option>
                True
              </option>
              <option>
                False
              </option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="Bar" class="block">
      <div class="left">
        <input type="button" class="button-grey" [value]="button_2 ? '&#8744;' : '&gt;'" (click)="button_2 = !button_2">
        <strong class="font">Bar</strong><br>
        <div *ngIf="button_2">
          <div [style.visibility]="button_2 ? 'visible' : 'hidden'">
            <p>Chart Type</p>
            <p>Bar Up Color</p>
            <p>Bar Down Color</p>
            <p>Volume Color</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div *ngIf="button_2" class="Div_4">
          <label>
            <select>
              <option>
                Candlestick
              </option>
              <option>
                Bar
              </option>
            </select>
          </label>
          <label>
            <input class="color" type="color" name="bg" value="#BFFF00">
          </label>Lime<br>
          <label>
            <input class="color" type="color" name="bg" value="#FF0000">
          </label>Red<br>
          <label>
            <input class="color" type="color" name="bg" value="#ff8000">
          </label>255.128.0<br>
        </div>
      </div>
    </div>
    <div *ngIf="Chart" class="block">
      <div class="left">
        <input type="button" class="button-grey" [value]="button_3 ? '&#8744;' : '&gt;'" (click)="button_3 = !button_3">
        <strong class="font">Chart</strong><br>
        <div *ngIf="button_3">
          <div [style.visibility]="button_3 ? 'visible' : 'hidden'">
            <p>Back Color</p>
            <p>Axis Color</p>
            <p>Grid Color</p>
            <p>Label Color</p>
            <p>Symbol Color</p>
            <p>Volume High</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div *ngIf="button_3" class="Div_5">
          <label>
            <input class="color" type="color" name="bg" value="#000000">
          </label>Back<br>
          <label>
            <input class="color" type="color" name="bg" value="#A9A9A9">
          </label>Dark Gray<br>
          <label>
            <input class="color" type="color" name="bg" value="#808080">
          </label>Grey<br>
          <label>
            <input class="color" type="color" name="bg" value="#FFFFFF">
          </label>White<br>
          <label>
          <input maxlength="50" size="40" value="20">
          </label>
          <label>
          <input maxlength="50" size="40" value="35">
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="Legend" class="block">
      <div class="left">
        <input type="button" class="button-grey" [value]="button_4 ? '&#8744;' : '&gt;'" (click)="button_4 = !button_4">
        <strong class="font">Legend</strong><br>
        <div *ngIf="button_4">
          <div [style.visibility]="button_4 ? 'visible' : 'hidden'">
            <p>Legend Back Color</p>
            <p>Legend Line Color</p>
            <p>Legend Fore Color</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div *ngIf="button_4" class="Div_5">
          <label>
            <input class="color" type="color" name="bg" value="#696969">
          </label>DimGray<br>
          <label>
            <input class="color" type="color" name="bg" value="#FFFFFF">
          </label>White<br>
          <label>
            <input class="color" type="color" name="bg" value="#FFFFFF">
          </label>White<br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-div">
  <button class="button">
    Cancel
  </button>
  <button class="button">
    Set As Default
  </button>
  <button class="button">
    Default
  </button>
  <button class="button">
    Ok
  </button>
</div>


